<a href="https://colab.research.google.com/github/tohnperfect/data_viz/blob/main/Quiz5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import os

path = '/content/drive/My Drive/dataviz_2021_data/search_request.csv'

In [4]:
data = pd.read_csv(path)
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [5]:
data.iloc[0,2]

'2018-06-14 12:34:35.449'

In [6]:
len(data.iloc[0,2])

23

In [7]:
data.iloc[0,2][10]

' '

In [8]:
top_table = data.iloc[:10,:]
top_table

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
5           5  4c048ac7-9fc7-49e8-9ee4-20ff755b939d  ...  12.8531  101.109
6           6  3ecf13ba-be4d-4eb9-9374-a1cca09d1614  ...  12.4511  102.249
7           7  a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...  13.6409  100.433
8           8  02fedb5c-c9cd-46d7-9354-7613ecb7cfdd  ...  13.7209  100.527
9           9  e215d487-0450-4794-830a-ecfc0ab6493b  ...  13.7208  100.527

[10 rows x 10 columns]

# เปรียบเทียบจำนวน requests ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59
# เปรียบเทียบจำนวน requests ของวันจันทร์-พฤหัส กับ ศุกร์-อาทิตย์

In [9]:
top_table['search_timestamp_v2'] = pd.to_datetime(top_table['search_timestamp'], format='%Y-%m-%d %H:%M:%S')
top_table.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   Unnamed: 0  ...     search_timestamp_v2
0           0  ... 2018-06-14 12:34:35.449
1           1  ... 2018-06-14 17:11:19.469
2           2  ... 2018-06-14 13:22:31.736
3           3  ... 2018-06-02 12:37:27.331
4           4  ... 2018-06-02 11:19:22.404

[5 rows x 11 columns]

In [23]:
top_table.iloc[0,-1]

Timestamp('2018-06-14 12:34:35.449000')

In [25]:
top_table.iloc[0,-1].day

14

In [24]:
top_table.iloc[0,-1].month

6

In [26]:
top_table.iloc[0,-1].year

2018

In [38]:
top_table.iloc[0,-1].hour

12

In [39]:
top_table.iloc[0,-1].minute

34

In [27]:
top_table.iloc[0,-1].dayofweek

3

In [29]:
top_table[top_table['search_timestamp_v2'].dt.dayofweek == 3]

   Unnamed: 0  ...     search_timestamp_v2
0           0  ... 2018-06-14 12:34:35.449
1           1  ... 2018-06-14 17:11:19.469
2           2  ... 2018-06-14 13:22:31.736

[3 rows x 11 columns]

In [30]:
from datetime import datetime,time

In [31]:
top_table[top_table['search_timestamp_v2'].dt.time > time(hour=12)]

   Unnamed: 0  ...     search_timestamp_v2
0           0  ... 2018-06-14 12:34:35.449
1           1  ... 2018-06-14 17:11:19.469
2           2  ... 2018-06-14 13:22:31.736
3           3  ... 2018-06-02 12:37:27.331
8           8  ... 2018-06-22 12:22:17.031
9           9  ... 2018-06-22 12:15:24.769

[6 rows x 11 columns]

In [37]:
data['search_timestamp_v2'] = pd.to_datetime(data['search_timestamp'], format='%Y-%m-%d %H:%M:%S')

ValueError: ignored

In [33]:
data['search_timestamp_v2'] = pd.to_datetime(data['search_timestamp'], format='%Y-%m-%d %H:%M:%S',errors='coerce')
data.head()

   Unnamed: 0  ...     search_timestamp_v2
0           0  ... 2018-06-14 12:34:35.449
1           1  ... 2018-06-14 17:11:19.469
2           2  ... 2018-06-14 13:22:31.736
3           3  ... 2018-06-02 12:37:27.331
4           4  ... 2018-06-02 11:19:22.404

[5 rows x 11 columns]

In [34]:
data['search_timestamp_v3'] = pd.to_datetime(data['search_timestamp'], format='%Y-%m-%d %H:%M:%S',errors='ignore')
data.head()

   Unnamed: 0  ...      search_timestamp_v3
0           0  ...  2018-06-14 12:34:35.449
1           1  ...  2018-06-14 17:11:19.469
2           2  ...  2018-06-14 13:22:31.736
3           3  ...  2018-06-02 12:37:27.331
4           4  ...  2018-06-02 11:19:22.404

[5 rows x 12 columns]

```error = ignore```

In [35]:
data[data['search_timestamp_v3'].dt.dayofweek == 0]

AttributeError: ignored

```error = coerce```

In [36]:
data[data['search_timestamp_v2'].dt.dayofweek == 0]

          Unnamed: 0  ...      search_timestamp_v3
19                19  ...  2018-06-25 21:17:30.510
20                20  ...  2018-06-25 18:32:18.165
21                21  ...  2018-06-25 21:38:41.645
22                22  ...  2018-06-25 18:36:44.040
23                23  ...  2018-06-25 19:47:26.742
...              ...  ...                      ...
10004277    10005150  ...  2018-06-25 17:53:53.011
10004278    10005151  ...  2018-06-25 18:23:03.059
10004291    10005164  ...  2018-06-11 17:34:53.597
10004292    10005165  ...  2018-06-11 18:38:27.170
10004293    10005166  ...  2018-06-11 13:58:58.732

[1076297 rows x 12 columns]